@import "components/question-card.css";
@import "components/bookmark.css";
@import "components/nav.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: lemonchiffon;
  --secondary-color: plum;
  --tertiary-color: aquamarine;
  --border-color: rgb(167, 102, 228);
}

body {
  background-color: var(--primary-color);
  font-family: system-ui;
}
header {
  background-color: var(--secondary-color);
  padding: 5px;
  text-align: center;
  border-bottom: 3px solid var(--border-color);
}

h1 {
  font-size: 3.5rem;
  color: var(--tertiary-color);
  text-shadow: 0 0 5px var(--border-color);
  text-transform: uppercase;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  padding-top: 5%;
  gap: 1rem;
}

.question {
  width: 150px;
  height: 50px;
  font-size: large;
  border: 3px solid var(--border-color);
  border-radius: 12px;
  position: absolute;
  bottom: 90px;
  left: 76px;
}

.answer {
  width: 280px;
  height: 80px;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 15px;
  border: 3px solid var(--border-color);
  color: var(--border-color);
  background-color: var(--tertiary-color);
  border-radius: 12px;
  position: absolute;
  bottom: -18px;
  left: 8px;
  z-index: 2;
}

.question:hover {
  background-color: var(--tertiary-color);
  color: var(--border-color);
}

/*.answer {
  width: 150px;
  height: 150px;
  text-align: center;
  color: var(--border-color);
  font-size: 2rem;
  padding-top: 40px;
  background-color: var(--tertiary-color);
  border: 2px solid var(--border-color);
  border-radius: 12px;
  position: absolute;
  bottom: 0;
  left: -4px;
  z-index: 2;
}*/

.answer--show {
  display: none;
}

.hashtag-section {
  display: flex;
  justify-content: flex-start;
  gap: 3px;
  padding-left: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.hashtag {
  border: 2px solid var(--border-color);
  border-radius: 12px;
  padding: 5px;
}
footer {
  background-color: var(--secondary-color);
  position: fixed;
  bottom: 0;
  width: 95%;
  height: fit-content;
  border-top: 3px solid var(--border-color);
}

.profile {
  background-color: var(--tertiary-color);
  border-radius: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.profile-icon {
  font-size: 5rem;
}
