* {
  box-sizing: border-box;
}
body {
  background-color: lemonchiffon;
  font-family: system-ui;
}
header {
  background-color: plum;
  padding: 5px;
  text-align: center;
}
h1 {
  font-size: 3rem;
  color: aquamarine;
  text-shadow: 0 0 5px darkmagenta;
  text-transform: uppercase;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.question-card {
  height: 300px;
  width: 300px;
  border: 3px solid rgb(167, 102, 228);
  border-radius: 12px;
  margin: 10px;
  padding: 10px;
  position: relative;
}
.question-text {
  text-align: center;
  padding-top: 40px;
}
.bookmark {
  font-size: 2rem;
  border-radius: 50%;
  padding: 10px;
  background-color: aquamarine;
  position: absolute;
  top: 0;
  right: 0;
}

.bookmarked {
  font-size: 2rem;
  border-radius: 50%;
  padding: 10px;
  background-color: rgb(167, 102, 228);
  position: absolute;
  top: 0;
  right: 0;
}

button {
  width: 150px;
  height: 50px;
  font-size: large;
  border: 3px solid rgb(167, 102, 228);
  border-radius: 12px;
  position: absolute;
  bottom: 110px;
  left: 76px;
}
.hashtag-section {
  display: flex;
  justify-content: flex-start;
  gap: 3px;
  padding-left: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.hashtag {
  border: 2px solid rgb(167, 102, 228);
  border-radius: 12px;
  padding: 5px;
}
footer {
  background-color: plum;
  position: fixed;
  bottom: 0;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.nav-icon {
  font-size: 4rem;
  background-color: aquamarine;
  /*border: 2px solid darkmagenta;*/
  border-radius: 3px;
  padding: 20px 100px 20px 100px;
  text-decoration: none;
}

.nav-icon-active {
  font-size: 4.5rem;
  background-color: rgb(167, 102, 228);
  /*border: 2px solid darkmagenta;*/
  border-radius: 3px;
  padding: 20px 100px 20px 100px;
  text-decoration: none;
}

.profile {
  background-color: aquamarine;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.profile-icon {
  font-size: 5rem;
}
