.bookmark {
  font-size: 2rem;
  border: 3px solid var(--border-color);
  border-radius: 50%;
  padding: 10px 15px 10px 15px;
  background-color: var(--tertiary-color);
  position: absolute;
  top: -10px;
  right: -20px;
}

.bookmark--active {
  font-size: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  padding: 10px 15px 10px 15px;
  background-color: var(--border-color);
  position: absolute;
  top: -10px;
  right: -20px;
}
