nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /*gap: 0.5rem;*/
  padding: 0.5rem;
}
.nav-icon {
  flex: 1;
  font-size: 3.5rem;
  background-color: var(--tertiary-color);
  border: 3px solid var(--border-color);
  border-radius: 6px;
  /*padding: 0.5rem 4rem 1.5rem 4rem;*/
  padding: 2% 5% 2% 5%;
  text-decoration: none;
}

.nav-icon-active {
  flex: 1;
  font-size: 3.5rem;
  background-color: var(--border-color);
  border: 3px solid var(--border-color);
  border-radius: 6px;
  /*padding: 10px 80px 20px 80px;*/
  padding: 2% 5% 2% 5%;
  text-decoration: none;
}
